<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Pet Color</title>
</head>
<body>
    <form action="#" method="post">
        <check if="{{isset(@errors['color'])}}">
            <p>{{@errors['color']}}</p>
        </check>
        <label for="color">Color</label>
        <select name="color" id="color">
            <option>--Select a color--</option>
            <repeat group="{{@colors}}" value="{{@colorOption}}">
                <option>{{@colorOption}}</option>
            </repeat>
        </select>
        <br>
        <p>Select Condiments:
            <check if="{{ @errors['accessories'] }}">
                <span class="err">{{ @errors['accessories'] }}</span>
            </check><br>
            <repeat group="{{ @accessories }}" value="{{ @petStuff }}">
                <label><input type="checkbox" name="access[]" value="{{ @petStuff }}"
                    <check if="{{ !(empty(@access)) && in_array(@petStuff, @access) }}">
                        checked
                    </check>
                    >{{ @petStuff }}</label><br>
            </repeat>
        </p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>