<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Pet Color</title>
</head>
<body>
    <form action="#" method="post">

        <label for="color">Color</label>
        <select name="color" id="color">
            <option>--Select a color--</option>
            <repeat group="{{@colors}}" value="{{@colorOption}}">
                <option
                <check if="{{ @color == @colorOption }}">
                    selected
                </check>
                >{{@colorOption}}</option>
            </repeat>
        </select>
        <check if="{{ @errors['color'] }}">
            <span class="err">{{ @errors['color'] }}</span>
        </check>
        <br>

        <p>Select Accessories:<br>
            <repeat group="{{ @accessories }}" value="{{ @petStuff }}">
                <label><input type="checkbox" name="access[]" value="{{ @petStuff }}"
                    <check if="{{ !(empty(@access)) && in_array(@petStuff, @access) }}">
                        checked
                    </check>
                    >{{ @petStuff }}</label><br>
            </repeat>
        </p>
        <check if="{{ @errors['access'] }}">
            <span class="err">{{ @errors['accessories'] }}</span>
        </check><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>